@model WebApplication9.Areas.Therapist.ViewModels.TherapistAccountSetupViewModel

@using Framework.Helpers
@{
    ViewData["Title"] = "AccountSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/multiselect/bootstrap-select.min.css" />
<script src="~/multiselect/bootstrap-select.min.js"></script>

<h1 class="text-info">Before you continue, please finish setting up your therapist account.</h1>

<br />

<h3>Account Setup</h3>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#account-setup-modal" data-whatever="getbootstrap">Click here to setup your account</button>

<div data-toggle="modal" class="modal fade" id="account-setup-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="padding: 0 !important;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">Before you continue, please finish setting up your therapist account.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-area="Therapist" asp-controller="">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="contact-methods" class="col-form-label">Choose your prefered contact methods:</label>

                        @*<input type="text" class="form-control" id="recipient-name">*@

                        <select asp-for="Chosen_ContactMethodsIds"
                                class="selectpicker"
                                id="contact-methods"
                                multiple data-live-search="true"
                                title="Your Contact Methods"
                                data-selected-text-format="count"
                                data-size="6">
                            @if (Model.ToChooseFrom_ContactMethods.Any())
                            {
                                foreach (var contactMethod in Model.ToChooseFrom_ContactMethods)
                                {
                                    var iconAndNameAndColor = Helper.GetContactMethodIconAndNameAndColor(contactMethod.Text);
                                    var icon = iconAndNameAndColor[0];
                                    var name = iconAndNameAndColor[1];
                                    var color = iconAndNameAndColor[2];

                                    <option value="@contactMethod.Value" data-content="<i class='@icon' style='color:@color;'></i>&nbsp;&nbsp;@name">
                                        @name
                                    </option>
                                }
                            }
                            else
                            {
                                <option value="" disabled>Contact Methods not available.</option>
                            }
                        </select>

                        <br />

                        <span asp-validation-for="Chosen_ContactMethodsIds" class="text-danger"></span>

                        <br />

                        <a href="#"
                           id="btn-show-popover"
                           class="col-form-label"
                           title="What does choosing your prefered contact methods mean?"
                           style="margin-bottom: 20px !important;"
                           data-content="When booking a session, clients will have to choose where they want their session to be held and the options shown to them to choose from, will be the ones that you chose here.
                           For example, if you choose Skype and Zoom only, when clients are booking a session with you, they will have to choose whether they want the session to be held on Skype or on Zoom. They will have those two options only.">
                            What does this mean?
                            <i class="fas fa-question-circle"></i>
                        </a>
                    </div>

                    <div class="row" id="address-info" style="display:none;">
                        <div class="form-group col-sm-6">
                            <label asp-for="Street"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="HouseNumber"></label>
                            <input asp-for="HouseNumber" class="form-control" />
                            <span asp-validation-for="HouseNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="City"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="PostalCode"></label>
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="Country"></label>
                            <input asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        <label asp-for="About" class="col-form-label"></label>
                        <textarea asp-for="About" class="form-control"></textarea>
                        <span asp-validation-for="About" class="text-danger"></span>
                    </div>

                    <p style="margin: 0 !important; text-align: center;"><i class="far fa-exclamation-triangle" style="color:orange;"></i>&nbsp;These data can be changed later from your profile page.</p>

                </div>
                <div class="modal-footer">
                    @*data-dismiss="modal"*@
                    <button type="submit" class="btn btn-primary">Finish Setup</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#contact-methods").selectpicker('refresh');

        $('#btn-show-popover').popover({
            trigger: 'focus'
        });

        $('#contact-methods').change(function () {
            @*var contactName = $.trim($('#contact-methods').find(":selected").text());

            contactName = $.trim($('#contact-methods :selected').text());*@

            var selectedContactMethods = $('#contact-methods option:selected')
                .toArray().map(item => item.text);

            var divAddress = $('#address-info');

            if ($.inArray('In Person', selectedContactMethods) !== -1) {
                divAddress.show();
                //$('#address-info').css('display', 'block');
                //$('#div-contact-info').css('display', 'block');
                //$('#label-contact-info').html('Your ' + contactName + ' username');
                //$('#input-contact-info').val('');
                //$('#input-contact-info').attr('placeholder', 'Please enter your ' + contactName + ' username');
            }
            else {
                divAddress.hide();
                //$('#address-info').css('display', 'none');
                //$('#div-in-person').css('display', 'block');
            }
        })
    })

    $(window).on('load', function () {
        $('#account-setup-modal').modal('show');
    });
</script>

@if(ViewBag.inPersonChosen != null)
{
    ViewBag.inPersonChosen = null;

    <script>
        var divAddress = $('#address-info');
        divAddress.show();
    </script>
}



